<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmplanet.cloud.app.goods.infra.mapper.GoodsManageStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmplanet.cloud.app.goods.infra.entity.GoodsManageStatisticsEntity">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="shop_id" property="shopId" />
        <result column="to_audit_num" property="toAuditNum" />
        <result column="pass_num" property="passNum" />
        <result column="reject_num" property="rejectNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, shop_id, to_audit_num, pass_num, reject_num
    </sql>

</mapper>
