<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmplanet.cloud.app.goods.infra.mapper.GoodsAttributeValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmplanet.cloud.app.goods.infra.entity.GoodsAttributeValueEntity">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="attribute_id" property="attributeId" />
        <result column="attribute_value" property="attributeValue" />
        <result column="selected" property="selected" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, attribute_id, attribute_value, selected
    </sql>

</mapper>
