<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmplanet.cloud.app.goods.infra.mapper.GoodsMapper">

    <select id="listByIds" resultType="com.mmplanet.cloud.app.goods.infra.entity.GoodsEntity">
        SELECT * FROM chh_goods WHERE
        <foreach collection="ids" item="id" open=" id in (" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
